{% extends "base.html" %}

{% block base %}
  <div class="card fluid">
    <h2 class="section double-padded">
      About this Site
    </h2>
    <div class="section">
      <p>
      This site exists to demonstrate some basic scraping techniques, as well as provide examples of real world challenges that scraper authors often encounter.
      </p>
      <p>While other sites with a similar purpose exist, they often omit some of the common complications that can arise in scraping.  The eventual goal of this site is to serve as a test suite of sorts for handling edge cases.
      </p>
      <p>This site is the work of <a href="https://jamesturk.net">James Turk</a>.  James has been getting paid to write web scrapers for over 10 years, mainly on the <a href="https://openstates.org">Open States</a> project.  This work is created independently of any employer, past or present.</p>
      <p>The full source for this site is available on <a href="https://github.com/jamesturk/yps-example">GitHub</a>.
    </div>
  </div>
{% endblock %}
