{% extends "base.html" %}

{% block base %}
  <div class="card fluid">
    <h2 class="section double-padded">
      About this Site
    </h2>
    <div class="section">
      <p>
      This site exists to demonstrate some basic scraping techniques, as well as provide examples of real world challenges that scraper authors often encounter.  It was primarily written to assist with examples and documentation for <a href="https://github.com/jamesturk/spatula">spatula</a> but feel free to use it for whatever you want.  Just be nice, the site is hosted on a free <a href="https://heroku.com">Heroku</a> dyno.
      </p>

      <p>While other sites with a similar purpose exist, they often omit some of the common complications that can arise in scraping.  The eventual goal of this site is to serve as a test suite of sorts for handling edge cases.
      </p>

      <p>This site is the work of <a href="https://jamesturk.net">James Turk</a>.  James has been getting paid to write web scrapers for over 10 years, mainly on the <a href="https://openstates.org">Open States</a> project.  This work is created independently of any employer, past or present.</p>

      <p>The full source for this site is available on <a href="https://github.com/jamesturk/yoyodyne-propulsion">GitHub</a>.

      <p>If you're wondering about what all the nonsense is about... <a href="https://letterboxd.com/film/the-adventures-of-buckaroo-banzai-across-the-8th-dimension/">here you go</a>.</p>
    </div>
  </div>
{% endblock %}
