{% extends "base.html" %}

{% block base %}
  <div class="card fluid">
    <h1 class="section">Yoyodyne Propulsion Systems <small>Awards</small></h1>
    <div class="section">
      <div class="row">

        {% for award in awards %}
        <div class="card large">
          <div class="section">
            <h2>{{ award.name }} <small>{{ award.year }}</small></h2>
            <dl>
              <dt>For<dt>
              <dd>{{ award.for }}</dd>
              <dt>Awarded To</dt>
              <dd>{{ award.to }}</dd>
            </dl>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}
