<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <a href="#" class="logo">Chicago Parks</a>
      <a href="/" class="button">Home</a>
      <a href="/parks" class="button">Parks</a>
      <a href="/about" class="button">About</a>
    </header>
      {% block base %}
      {% endblock %}
    <footer style="background: #666; color: #ddd;">
      <p>This site is created for the express purpose of <a href="/about" style="color: #fff;">demonstrating scraping techniques</a>.  No information contained on this site is meant to be taken as useful in any way.</p>
    </footer>
  </body>
</html>
