{% extends "base.html" %}

{% block base %}
  <div class="card fluid">
    <h1 class="section">Chicago Parks</h1>
    <div class="section">
    <p>
    One of America's best-kept secrets is Chicago's historic park system. Even Chicagoans who routinely enjoy its diverse open spaces- from the magnificent lakeshore parks to intimate neighborhood settings- may be surprised about their parkland legacy.  We invite you to learn more about the history of Chicago parks, which are second to none in America and abroad.
    </p>
    </div>
  </div>
{% endblock %}
